@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-dark text-slate-100 font-display min-h-screen flex flex-col overflow-x-hidden;
  }
}

/* Hard-coded Brutalist Styles */
.locked-vault-blur {
  backdrop-filter: blur(12px);
}

.modal-blur-bg {
  backdrop-filter: blur(12px) brightness(0.2);
}

.scanline {
  background: linear-gradient(to bottom, transparent 50%, rgba(255, 255, 255, 0.02) 50%);
  background-size: 100% 4px;
}

.input-field {
  @apply w-full bg-transparent border-b border-white/50 text-white placeholder-slate-500 focus:outline-none focus:border-white py-3 text-lg font-medium font-mono uppercase tracking-widest rounded-none;
}

.keypad-btn:active {
  @apply bg-white text-black;
}